body{
	margin:0;
	padding:0;
}

#drawing_zone{
	background-color:#040812;
	position:absolute;
	top:0;
}

#indic_draw{
	position:absolute;
	top:50%;
	left:50%;
	height:100px;
	margin-left:-50px;
	margin-top:-50px;
}