body{
	margin:0;
	padding:0;
}

#drawing_zone{
	background-color:#040812;
	position:absolute;
	top:0;
}

#indic_draw{
	position:absolute;
	top:50%;
	left:50%;
	height:100px;
	margin-left:-50px;
	margin-top:-50px;
}

#dropdown_menu{
	position:absolute;
	top:10px;
	right:10px;
}

#menu_overlay{
	display:none;
	position:absolute;
	top:52px;
	right:0px;
	background-color:white; 
	text-align: right
}

.menu_label{
	margin:10px;
	display: block;
}